SECRET_KEY=abcdefghijklmnopqrstuvwxyz

SERVERNAMES=server-name.com
CSRF=https://*.server-name.com

DATABASE_NAME=training
DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_HOST=server-name.com
DATABASE_PORT=3306
