{% extends "base.html" %}

{% block css %}
<style>
</style>
{% endblock %}

{% block content %}
<h1 class="text-center">Benutzer-Profil</h1>

<div class="container">
	<div class="row">
		<div class="col">
			<div class="dash-card">
				<div class="dash-card-header">User-Details</div>
				<div class="dash-card-body">
					<table>
						<tr>
							<td>Username:</td>
							<td>{{ userName }}</td>
						</tr>
						<tr>
							<td>Name:</td>
							<td>{{ person.name }} {{ person.lastName }}</td>
						</tr>
						<tr>
							<td>Geburtsdatum:</td>
							<td>{{ person.birthday }}</td>
						</tr>
						<tr>
							<td>Größe:</td>
							<td>{{ person.height }} cm</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="dash-card">
				<div class="dash-card-header">Passwort ändern</div>
				<div class="dash-card-body">
					Hier kann später das Passwort geändert werden
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}