{% extends "base.html" %}

{% block css %}
<style>
	
</style>
{% endblock %}

{% block content %}
<h1 class="text-center">Transformation Bild</h1>

<div class="container">
	<div class="row">
		<div class="col">
			<div class="dash-card">
				<div class="dash-card-header">Vorher-Nacher-Bild</div>
				<div class="dash-card-body">
					<form method="post" enctype="multipart/form-data">
						{% csrf_token %}
						 {{ form.as_p }}
						<button type="submit">Upload</button>
					  </form>
					  
					  {% if firstPic %}
						<img src="{{ firstPic.url}}" alt="first" style="width:50%">
					  {% endif %}
					  {% if lastPic %}
						<img src="{{ lastPic.url}}" alt="last" style="width:50%">
					  {% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}