{% extends "base.html" %}

{% block css %}
<style>
	
</style>
{% endblock %}

{% block content %}
<h1 class="text-center">Exercise Stats</h1>

<div class="container">
	<div class="row">
		<div class="col">
			<div class="dash-card">
				<div class="dash-card-header">Analytics</div>
				<div class="dash-card-body">
					
					<form action="/analytics/exercise-stats" method="post">
						{% csrf_token %}
						<div class="mb-3" style="float: left">
							<label for="{{ ex.exercise.id_for_label }}" class="form-label">{{ ex.exercise.label }}</label><br/>
							{{ ex.exercise }}
							{{ ex.exercise.errors }}
						</div>
	
						<button type="submit" class="btn btn-primary">Auswählen</button>
					</form>

					<canvas id="myChart"></canvas>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	const mixedChart = new Chart(document.getElementById('myChart'), {
		data: {
			datasets: [{
				type: 'line',
				label: 'Gewicht',
				data: {{ werte.data2|safe }} ,
				backgroundColor: 'rgba(230, 81, 0, 1)',
				borderColor: 'rgba(230, 81, 0, 1)'
			},
			{
				type: 'bar',
				label: 'Wiederholungen',
				data: {{ werte.data1|safe }},
				backgroundColor: 'rgba(27, 188, 156, 1)'
			}],
			labels: {{ werte.labels|safe }}
		},
	});

</script>

{% endblock %}